a{
    text-decoration:none ;
    color:black;
}
.ver{
    margin-top:0px;
    margin-left: 20px;
    margin-bottom: 0px;
    border-right:1px solid black;
    width:130px;
}
.container{
    display:grid;
    grid-template-columns: 200px 1fr;
    border:1px solid black;
}
.title{
    display:grid;
    grid-template-columns: 200px 1fr;
    place-items: center;
    border:1px solid black;
    padding: 0px;
}
@media(max-width:1000px) {
    .title{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        border:1px solid black;
        padding: 0px;
        white-space: nowrap;
    }
    .container{
        display:block;
        border:1px solid black;
    }
    .ver{
    margin-top:0px;
    margin-left: 20px;
    margin-bottom: 0px;
    border-right:none;
    width:130px;
    }
    .container div{
        border-top: 1px solid black;
    }
}